
@media (min-width: 100px ) and (max-width: 480px) { 
    *{
        margin: 0;
        padding: 0;   
    }  


    .header{
    
        width: 100vw;
        height: 10vh;
    }

    #titulo{
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 2rem;

    }

    .inicio{
        
        width: 100vw;
        height: 100vh;
    }

    .contenedor-three{
        width: 100vw;
        height: 100vh;
        
    }

    .agregar{
        width: 95vw;
        height: 15vh;
        flex-direction: column;
    }
    #txtEntrada{
        width: 90vw;
        height: 65%;
        font-size: 1.4rem;
        letter-spacing: 0rem;
    }

    #btnAgregar{
        width: 30vw;
        margin-left: 0;
        font-size: 2rem;
    }

    .lienzo{
        width: 95vw;
    }

    .elemento{
        height: 10%;
        font-size: 1.5rem;
    }
    .btnEditar{
        font-size: 1.5rem;
    }
    
    .btnBorrar{
        font-size: 1.5rem;
    }

    #footer p{
        font-size: 1rem;
    }
}